@media screen and (max-width: 1334px) {
    img#fedora { width:100% !important; }
}
@media screen and (max-width: 1075px) {
    .metaslider .caption-wrap { bottom: 10% !important; left: 40% !important; width: 50% !important; }
}
/* this may be problematic; using a mix of max-width and min-width it tricky; */
@media screen and (min-width:40em) {
    /*section.container { padding: 8.125em 0 0 0; }*/
    .metaslider .caption-wrap { bottom: 15% !important; left: 50% !important; width: 40% !important; }
    /*img#fedora { width: 28% !important; margin-bottom:-8px; }*/
    .entry-content .medium-2.section-header,
    .entry-content .large-11.section-header { width:90%; }
    .entry-content .medium-10.more-link,
    .entry-content .large-1.more-link{ width:9%; }
}
@media screen and (max-width: 1025px) {
    section.container { padding:0 ! important; }
    img#fedora { width: 33% !important; margin-bottom:-8%; max-width:107px; margin-top:0; }
}
@media screen and (max-width: 980px) {
    section.container { padding:0 ! important; }
    img#fedora { margin-bottom:-6%; }
}
@media screen and (max-width: 900px) {
    .metaslider .caption-wrap { left: 30% !important; width: 60% !important; }
    img#fedora { margin-bottom:-4%; }
}
@media screen and (max-width: 768px) {
  .metaslider .caption-wrap {
    position: initial !important; bottom: 0 !important; left: 0 !important; background: rgba(0, 0, 0, 0.7);
    color: #FAFAFA; margin: 0; display: block; width: 100% !important; line-height: 1.3em; padding: 1.2em 1.2em 1.5em 1.2em !important; }
  .entry-content .medium-4.news-listing { width:50%; }
}
